@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

//Deklarerer variabler for farger og fonter
:root {
    --turkis: #91CCD9;
    --rosa: #D928AB;
    --gul: #F2C12E; //Foreløpig ikke brukt denne fargen, men kunne funnet et bruksområde til den ved videre utvikling, da den gjør paletten mer komplett
    --lilla: #6c70d2;
    --orange: #F25C05;
    --hvit: #fff;
    --sort: #0d0c0d;

    --font:'Montserrat', sans-serif;
    --fontsize: 15px;
    --bredde: 800px;

    display: flex;
    justify-content: center;
    background-color: var(--turkis);
    font-family: var(--font);
}

//SASS er jo "vanlig" CSS, bare strukturert mer som HTML, så veldig logisk og ikke så mye mer å forklare på akkurat det
body {
    margin: 0;
    padding: 0;
    background-size: 100%;
    height: 100%;

    main {
        display: block;
        padding: 1rem, 0, 1rem, 0;
        margin: 1rem;

        header {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            max-height: 2rem;
            color: var(--hvit);

            form {
                display: flex;
                justify-content: center;
                gap: 2rem;
                background-color: var(--rosa);
                color: var(--hvit);
                padding: 10px;
                border-radius: 5px;

                label {
                    text-wrap: nowrap;
                    padding: 5px;
                }

                input {
                    border-style: none;
                    padding: 5px;
                    color: var(--rosa);
                    font-family: var(--font);
                    border-radius: 5px;
                    width: 100%;
                }

                button { //Button er fritatt fra CSS satt i root, og derfor må font osv bestemmes på nytt her
                    background-color: var(--orange);
                    color: var(--hvit);
                    font-size: 12px;
                    font-family: var(--font);
                    border-style: none;
                    border-radius: 5px;
                    padding: 10px;

                    &:hover {
                        background-color: var(--lilla);
                    }
                }
            }
        } 
        section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 5rem;
            max-width: 800px;
            gap: 2rem;
            padding-top: 3rem;
            
            article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                max-width: 200px;
                background-color: var(--hvit);
                padding: 7px;
                height: 100%;
                border-radius: 5px;

                .imageContainer { //Bruker en id her (som er plassert på en riktig html-element) for å kunne være sikker på at jeg bare refererer til denne
                    height: 250px;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 100%;
                        border-radius: 5px;
                    }

                    h3 {
                        color: var(--rosa);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }

                h2 {
                    font-size: 16px;
                    color: var(--rosa);
                    margin: 10px 0 15px 0;
                    padding: 0;
                }

                h3 {
                    font-size: 12px;
                    color: var(--sort);
                    font-weight: 700;
                    margin: 0 0 10px 0;
                    padding: 0;
                }

                h4 {
                    font-size: 10px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin: 0;
                    padding: 0;
                }

                ul {
                    display: block;
                    margin: 0 0 10px 0;
                    padding: 0;

                    li {
                        list-style: none;
                        font-size: 12px;
                        font-weight: 700;
                        color: var(--sort);
                        margin-bottom: 3px;
                    }
                }

                a {
                    button {
                        background-color: var(--orange);
                        color: var(--hvit);
                        font-size: 12px;
                        font-family: var(--font);
                        border-style: none;
                        border-radius: 5px;
                        padding: 10px;
                        width: 100%;

                        &:hover {
                            background-color: var(--lilla);
                        }
                    }
                }
                
            }
        }
    }

}

@media (max-width: 900px) { //Denne media-queryen gjør noe med responsiviteten ved at den reduserer antall kolonner til 2 ved skjermbredde på 900px og mindre
    body {
        main {
            section {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

}

@media (max-width: 600px) { //Ved 600px og mindre blir elementene i search bar-en dyttet under hverandre, artikkelkortvisningen reduseres til en kolonne, og plasseringen av artikkelkortene justeres litt.
    body {
        main {
            header {
                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    padding: 1rem;
                }
            }

            section {
                grid-template-columns: 1fr;
                padding-top: 150px;

                article {
                    place-self: center;
                }
            }
        }
    }
}